*.egg-info/
*.py[cod]
.validation/
.venv/
.vscode/
__pycache__/
.pytest_cache/
build/
dist/
src/gui/dep/
backups/
**/saves/

runs/*
!runs/README.md
analyses/*
!analyses/README.md
state/*
!state/README.md
